body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);

}

.responsive-main {
  width: 90%;
  max-width: 300px;
  padding: 20px;
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px;
}

.div2 {
  height: 50%;
}

.main-logo {
  width: 100%;
  border-radius: 15px;
}

.line1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 70%;
  padding: 6px 10px;
  background-color: hsl(47, 88%, 63%);
  font-weight: bolder;
  border-radius: 2px;
}

.line2 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 0.9em;
  font-weight: 600;
}

.line3 {
  margin: 10px 0px;
  font-size: 1.5em;
  font-weight: bolder;
}

.line4 {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.523);
}

.bottom {
  margin: 10px;
  font-size: 0.8rem;
  display: flex;
  font-weight: bold;
}

.bottom p {
  font-size: 0.9rem;
  margin: 5px 13px;
}

.avtar {
  height: 30px;
}